@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary-color: #436CF6;
    --secondary-color: #F44B0D;
    --accent1-color: #D0DE82;
    --accent2-color: #038D23;

    --heading-font: "Protest Riot", sans-serif;
    --paragraph-font: "Libre Franklin";

    --nav-background-color: #EEE5E9;
    --nav-link-color: #101FC7;
    --nav-hover-link-color: #383D3B;
    --nav-hover-background-color: #52DEE5;
}

body {
    font-family: var(--paragraph-font);
    max-width: 650px;
    padding: 20px; 
    }

main {
    max-width: 840px;
    }

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: relative;
    margin: 1rem;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    grid-column: 1 / 7;
}

a {
    text-decoration: none;
}

p {
    margin: 1rem;
    font-size: 1.2rem;
}

p img {
    position: absolute;
    left: 33.55%;
    top: 88%;
}

.hero h1{
    position: absolute;
    top: 0;
    left: 400px;
    background-color: var(--nav-background-color);
}

div {
    position: relative;
}

article {
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 10px;
    background-color: rgb(187, 207, 144, 0.7);
    left: 20%;
    right: 0;
    margin: 0 auto;
}

.hero article img {
    width: 30%;
    float: right;
}

article p {
    text-align: left;
}

section p {
    width: 940px;
    display: grid;
    grid-template-columns: 50%;
}

nav img {
    width: 40px;
}

header {
    display: grid;
    grid-template-columns: 400px 1fr;
    margin: 1rem auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    display: block;
    padding: 20px;
}

section img{
    max-width: 300px;
    max-height: 120px;
}

section {
    display: grid;
    grid-template-columns: 40% 30% 30% 30% 30% 30%;

}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

figcaption {
    padding: 1px;
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 120% 50%;
    justify-items: center;

}

.sociallinks {
    grid-column: 1;
}

.p2 {
    grid-column: 4;
    align-items: center;
}

.map {
    display: flex;
    justify-content: center;    
}

button {
    margin: 1rem;
    background-color: rgb(212, 21, 18);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}


fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #bbc2e8;
    display: grid;
}

label, input, button, select, textarea {
    font-family: Libre Franklin, sans-serif;
}

label {
    padding: 0.5rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    margin: 0 60px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

