@import url("https://fonts.google.com/specimen/Libre+Franklin");
@import url("https://fonts.google.com/specimen/Protest+Riot?preview.layout=grid&query=prot&classification=Display&stroke=Sans+Serif");


body {
font-family: var(--paragraph-font);
max-width: 960px;
padding: 20px; 
}

:root {
    --primary-color: #436CF6;
    --secondary-color: #F44B0D;
    --accent1-color: #D0DE82;
    --accent2-color: #038D23;

    --heading-font: "Protest Riot", "san serif";
    --paragraph-font: "Libre Franklin";

    --nav-background-color: #EEE5E9;
    --nav-link-color: #101FC7;
    --nav-hover-link-color: #383D3B;
    --nav-hover-background-color: #52DEE5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}